body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

h1, h2, h3 {
    color: #007bff;
}

h2 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

p {
    line-height: 1.6;
}

/* New styles for Projects and Skills sections */
#projects, #skills, #contact, #misc-projects {
    margin-top: 40px;
}

/* Project list style */
#projects ul, #misc-projects ul {
    list-style: none;
    padding: 0;
}

#projects li, #misc-projects li {
    margin-bottom: 10px;
}

/* Skills list style */
#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#skills li {
    margin-right: 20px;
}

/* Contact info style */
#contact p {
    margin: 5px 0;
}

/* Miscellaneous Projects Section style */
#misc-projects h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
